*{
	margin: 0;
	padding: 0;
}
body{
	background: white;
	color: black;
	font-family: 'Roboto';
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-grap: 20px;
	
}